name: Telegram News Bot

on:
  schedule:
    - cron: "*/10 * * * *"   # запуск каждые 10 минут
  workflow_dispatch:        # ручной запуск кнопкой

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      # 1. Забираем код репозитория
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Устанавливаем Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # 3. Устанавливаем зависимости ИЗ КОРНЯ
      - name: Install dependencies
        working-directory: ${{ github.workspace }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Запускаем бота
      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          python bot/main.py
